@font-face {
  font-family: american;
  src: url(../fonts/American\ Typewriter\ Regular.ttf);
}

:root {
  --main: #ece3d2;
  --black: #241e3f;
  --highlighted: #ed7c14;
}

body {
  background-color: var(--main);
  font-family: american;
  color: var(--black);
}

/* utilities */
.txt-center {
  text-align: center;
}

.fw-300 {
  font-weight: 300;
}

.bg-black {
  background: var(--black);
  color: var(--main);
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.hidden {
  overflow: hidden;
}

.line {
  width: 1px;
  background: black;
  margin: 0 10px;
}

.high {
  color: var(--highlighted);
}

.mt-5 {
  margin-top: 5px;
}
/* utilities */

.box1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 main #start {
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.box2 main .head img {
  height: 150px;
}

.box2 main .head2 ul {
  list-style: none;
}

.box2 main .head2 ul button {
  border: none;
  cursor: pointer;
  background: none;
}

.box2 main .head2 img {
  height: 100px;
  object-fit: cover;
}
